$header1: 6rem;
$header2: 4rem;
$header3: 3rem;
$header4: 2rem;
$text: 2.6rem;
$background: #252422;
$text-color: #fff;
$contrast-color: #EB5E28;

@mixin flex($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@import "global";
@import "home";

@media screen and (max-width: 1024px){
    html{
        font-size: 55%;
    }
    .hero{
        min-height: 85vh;
    }
    .schedule{
        min-height: 25vh;
    }
    .about{
        min-height: 45vh;
        p{
            padding: 0rem 4rem;
        }
    }
}

@media screen and (max-width:768px) {
    .main-head{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: $background;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
  
    }
  
    .nav-links li{
        opacity: 0;
    }
  
    .burger{
        display: block;
        cursor: pointer;
    }
    .boxes{
        padding-bottom: 3rem;
    }
    .visit{
        text-align: center; 
    }
    .directions{
        iframe{
            padding: 3rem 0rem 0rem 0rem;
        }
    }
}
@media screen and (max-width: 420px){ /* Mobile Friendly*/
    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
    footer{
        text-align: center;
    }
    footer h5{
        padding-bottom: 3rem;
    }
    button{
    }
}